/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

:where(.verifyOtp-container, .verifyOtp-form, .verifyOtp-input-field, .shield-icon) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.verifyOtp-container {
    font-family: "Poppins", sans-serif;
    width: fit-content;
    position: relative;
    background: #fff;
    padding: 30px 65px;
    border-radius: 12px;
    row-gap: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.verifyOtp-container .shield-icon {
    height: 65px;
    width: 65px;
    background: #009879;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%;
}

.verifyOtp-container h4 {
    font-size: 1.25rem;
    color: #333;
    font-weight: 500;
    margin: 0;
}

h5{
margin-top: 0.5rem;
}

.verifyOtp-display-text{
    text-align: center;
}
.verifyOtp-input-field {
    flex-direction: row;
    column-gap: 10px;
}

.verifyOtp-input-field input {
    height: 45px;
    width: fit-content;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}

.verifyOtp-input-field input:focus::placeholder {
    color: transparent;
}

.verifyOtp-btn {
    width: 10rem;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 6px;
    background: #009879;
    transition: all 0.2s ease;
    margin-top: 0.5rem;
}

.verifyOtp-btn.active {
    background: #009879;
    pointer-events: auto;
}

.verifyOtp-btn:hover {
    cursor: pointer;
    background: #016e59;
}